{% extends 'base.html' %}

{% block title %} Edit {{tag.name}} Tag {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Edit {{tag.name}} Tag</h1>
            <form action="/tags/{{tag.id}}/edit" method = "POST" >
                <label for="create_tag">Name</label>
                <input type="text" class="form-control"  name ="tagname" id = "tagname" value ="{{tag.name}}">
                <h3>Select Post to Tag</h3>
                {% for post in posts %}
                    <input type="checkbox" class="form-check-input" name="post_title" id = "{{post.id}}" value = "{{post.id}}" 
                        {% if post in tag.post %}
                            checked
                        {% endif %}
                    >
                    <label for="{post.id}">{{post.title}}</label><br/>
                {% endfor %}
                <a href="/" class = "btn btn-warning">Cancel</a>
                <button type="submit" class ="btn btn-primary" name="submit" id="submit">Save Tag</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
