{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block content %}

<h1>Edit Blog Post</h1>
<form action = "/posts/{{post.id}}/edit" method ="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name = "title" id ="title" placeholder="Enter Blog Title" value = "{{post.title}}">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class = "form-control" name = "content" id ="content">{{post.content}}</textarea>
    </div>
    <!-- loop the tags  -->
    <span class="tag_name">Select Tags:</span><br/>
    <div class="form-group form-check">
        <div class="row">
            {% for tag in tags %}
                <div class="col-md-2">
                    <input type="checkbox" class = "form-check-input" name ="tag_post" value = '{{tag.id}}' 
                        {% if tag in post.tag %} 
                            checked
                        {% endif %}
                    >
                    <label for=""> {{tag.name}} </label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <a href="/posts/{{post.id}}" class ="btn btn-info"> Cancel </a>
        <button type="submit" class ="btn btn-primary">Update Blog</button>
    </div>
</form>

{% endblock %}