table,td,tr, th{
    margin: 0 auto;
    border:1px solid red;
    border-collapse: collapse;
    padding:20px;
    width:60%;
}

h1{
    text-align: center;
}

.user_list{
    margin: 0 auto;
}
.new_user_form{
    margin:0 auto;
    width: 40%;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
}

.card{
    padding:5px;
    margin:0 auto;
    border: 1px solid #6d6d6d;
}

.card-img{
    padding:5px;
    width:100%;
}
.user_details{
    padding-top:10%;
}

.blog_posts{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: inline-grid;
    margin: 5px;
    max-width: 25%;
    min-width: 10%;
}

.blogshow{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}

.deleted{
    background-color: rgba(255, 68, 68, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
}

.updated{
    background-color: rgba(6, 78, 6, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
}

.tag_name {
    font-weight: bold;
}
.tag_title{
    font-size: 0.7rem;
    padding:2px;
}